
<!DOCTYPE html>
<html>
	<head>
		<title>AnotherTab</title>
		
		<link rel="stylesheet" href="styles/bootstrap.css"/>
		<link rel="stylesheet" href="styles/styles_main.css"/>
		<link rel="stylesheet" type="text/css" href="styles/tooltipster.min.css" />
		<link rel="stylesheet" type="text/css" href="styles/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />

		<script type="text/javascript" src="scripts/jquery.js"></script>
		<script type="text/javascript" src="scripts/jquery.textfill.min.js"></script>
		<script type="text/javascript" src="scripts/tooltipster.min.js"></script>
		<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
		<!-- <script type="text/javascript" src="scripts/vue.min.js"></script> -->
		<script type="text/javascript" src="scripts/vue_dev.js"></script>
		
		<script type="text/javascript" src="scripts/markup.min.js"></script>
		<script type="text/javascript" src="scripts/defaults.js"></script>
		<script type="text/javascript" src="scripts/templates.js"></script>
		<script type="text/javascript" src="scripts/config.js"></script>
		<script type="text/javascript" src="scripts/core.js"></script>
	</head>

	<body>
		<div id="full-content">
			<div id="menu-container">
				<div id="menu">
					<h3>Settings</h3>
					<form id="settings-form">
						<p>Icon size:</p>
						<input type="text" id="setting_icon_size" value="32px"><br><span>Chrome default favicon size is 16px</span>
						<p>Cell height:</p>
						<input type="text" id="cell_height" v-model="cell_height.value">
						<input type="range" min="10" max="250" step="1" id="cell_height_range" v-model="cell_height.value"><br><span>Use pixels (like '60px') or 'none' for auto</span>
						<p>Cell width:</p>
						<input type="text" id="setting_cell_width" value="60px"><br><span>Use pixels (like '60px') or 'none' for auto</span>
						<p>Cell max width:</p>
						<input type="text" id="setting_cell_max_width" value="60px"><br><span>Use pixels (like '60px') or 'none' for auto</span>
						<p>Toolbox position:</p>
						<input type="text" id="setting_tools_position" value="left"><br><span>Position of toolbox, use 'left' or 'right'</span>
						<p>Chrome icons only</p>
						<input type="checkbox" id="setting_chrome_icon_cache" checked="chrome_icon_cache.value ? 'checked' : ''"><br><span>Always use icons from Google Chrome cache (small but reliable)</span>
						<p></p>
						<input type="color" id="setting_folder_color" value="folder_color.value"><br><span></span>
						<p></p>
						<input type="text" id="setting_icon_color" value="#dddddd"><br><span></span>
						<p></p>
						<input type="text" id="setting_page_background_color" value="#ffffff"><br><span></span>
						<p></p>
						<input type="text" id="setting_page_background_image" value=""><br><span></span>
					</form>
				</div>
			</div>

			<div id="tools-container">
				<div id="tools">
					<div id="settings-holder" class="tools">
						<div id="settings-trigger" class="trigger">
							<img src="icons/settings.png"/>
						</div>
						<div class="trigger" id="edit">
							<img src="icons/edit.png"/>
						</div>
					</div>

					<div id="chrome-tools" class="tools">
						<div class="trigger" id="extensions">
							<img src="icons/extensions.png"/>
						</div>
						<div class="trigger" id="cleanup">
							<img src="icons/cleanup.png"/>
						</div>
						<div class="trigger" id="cookies">
							<img src="icons/cookie.png"/>
            </div>
						<div class="trigger" id="params">
							<img src="icons/tasks.png"/>
						</div>
						<div class="trigger" id="passwords">
							<img src="icons/password.png"/>
						</div>
						<div class="trigger" id="all_bookmarks">
							<img src="icons/bookmarks.png"/>
						</div>
						<a href="chrome://restart/">
							<div class="trigger" id="chrome_reload">
								<img src="icons/reload.png"/>
							</div>
						</a>
					</div>

				</div>
			</div>

			<div id="bookmarks-container">
				<div id="bookmarks">
					<div class="block-header">
						<span id="bookmarks_header"></span> (<span id="root_bookmark_name"></span>)
					</div>
					<div id="root-list" class="root-bookmarks content"></div>
					<div class="content" id="content-bookmarks">		</div>
					
					<div class="block-header"><span id="extensions_header"></span></div>
					<div class="content" id="content-extensions">
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" id="confirm-modal">
  		<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
						<h4>Chrome restart</h4>
      		</div>
      		<div class="modal-body">
						<h4>Instructions</h4>
						Unfortunately, apps cannot restart browser - users have to do it themselves. To restart your browser,
						<ul>
							<li>type "<b>chrome://restart</b>" in the address line (you can copy it from here and paste there)</li>
							<li>hit Enter on the keyboard or select the address line suggested by Chrome</li>
							<li>wait a little - it takes a moment or two</li>
						</ul>
					</div>
					<div class="modal-footer">
						<!--<button class="btn btn-primary confirm">Yes</button>-->
						<button href="#" data-dismiss="modal" class="btn btn-default">Got it</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" tabindex="-1" id="edit-item-modal">
  		<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title"><input type="edit" id="bookmark-edit-name" value="Edit item"/></h4>
      		</div>
      		<div class="modal-body">
						<div class="form-image row">
							<div class="col-md-11">
								<h3>Link:</h3>
								<div class="form-row">
		    					<input type="edit" id="bookmark-edit-url" value="Edit url"/>
								</div>
							</div>
						</div>
						<div class="form-image row">
							<div class="col-md-11">
							<h3>Icon:</h3>
							<div class="form-row align-items-center">
								<div id="edit-icon-image-chrome" class="icon-image-choice col-sm-3">
  								<label>
										<input type="radio" name="edit-icon-image" value="chrome">	Chrome cache
									</label>
								</div>
								<div id="edit-icon-image-web" class="icon-image-choice col-sm-3">
  								<label>
										<input type="radio" name="edit-icon-image" id="edit-icon-image-web" value="web"> From website
									</label>
								</div>
								<div id="edit-icon-image-custom" class="icon-image-choice col-sm-3o">
  								<label>
										<input type="radio" name="edit-icon-image" id="edit-icon-image-custom" value="custom"> Custom
									</label>
								</div>
							</div>
							<div class="form-row align-items-center">
								<div class="col-sm-3">
									<img src="" draggable="false" id="icon-image-chrome" class="edit-icon-image-icon" title="Browser icon"/>
								</div>
								<div class="col-sm-3">
									<img src="" draggable="false" id="icon-image-web" class="edit-icon-image-icon" title="Web icon"/>
								</div>
								<div class="col-sm-3">
									<img src="" draggable="false" id="icon-image-custom" class="edit-icon-image-icon" title="Custom icon"/>
									<input type="file" id="image-file-select" name="image-file" />
								</div>
							</div>
							</div>
						</div>
						<div class="form-image row">
							<div class="col-md-11">
								<h3>Colors:</h3>
								<div class="form-row align-items-center">
									<div class="icon-image-choice col-sm-4">
  									<label>
											<input type="color" id="edit-icon-color-background" value="#DDDEE2"> Background color
										</label>
									</div>
									<div class="icon-image-choice col-sm-4">
  									<label>
											<input type="color" id="edit-icon-color-font" value="#0000ff"> Font color
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer" id="bookmark-edit-save-container">
						<input type="hidden" id="bookmark-edit-id"/>
						<input type="hidden" id="bookmark-edit-icon"/>
						<input type="hidden" id="bookmark-edit-type"/>
						<button type="button" id="bookmark-edit-cancel" class="btn btn-cancel" data-dismiss="modal" aria-label="Cancel">Cancel</button>
						<button type="button" id="bookmark-edit-save" class="btn btn-success" data-dismiss="modal" aria-label="Save">Save</button>
					</div>
      	</div>
     	</div>
  	</div>

	</body>
</html>
