body {
		padding: 0px;
		margin: 0px;
}

.content {
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		margin: 5px 70px;
		padding: 5px;
		margin-bottom: 50px;
		z-index: 1;
}

.icon-wrapper {
	margin: 10px;
	float: left;
	text-align: center;
    display: flex;
}

.icon {
	text-align: center;
	background-color: #EeEeEe;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	min-width: 60px;
	max-width: none;
	min-height: 60px;
	max-height: 60px;
	/* alignment */
	cursor: pointer;
	color: blue;
    justify-content: center;
    border: 1px solid transparent;
}

.icon:hover {
	background-color: #dedede;
  border: 1px solid green;
}

.icon .icon-image {
		width: auto;
}

.icon img {
		width: 32px;
}

.folder .icon {
    background-color: chartreuse;
    border: 1px solid black;
}

.folder:hover .icon:hover {
    background-color: lime;
}

.tools {
		position: fixed;
}

.trigger {
		cursor: pointer;
		padding: 15px;
		z-index: 2;
		border: 1px solid transparent;
}

.trigger, .trigger img {
		width: 32px;
		height: 32px;
}

#chrome-tools {
		top: 0px;
		width: 32px;
}

#chrome-tools .trigger {
		float: left;
}

.trigger:hover, .trigger.active {
	background-color: #dedede;
  border: 1px solid green;
	border-radius: 3px;
}

#settings {
		bottom: 0%;
		width: 350px;
		max-height: 450px;
		margin: 5px 15px 50px 15px;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: #ffffff;
		border: 1px solid;
		border-radius: 5px;
		display: none;
		z-index: 20;
}

#settings table {
		margin: 10px;
}

#settings .name {
		width: 100px;
		font-weight: bold;
		font-size: 10pt;
		padding-top: 15px;
		font-family: Verdana;
		text-align: left;
		vertical-align: top;
}

#settings .setting {
		text-align: left;
		vertical-align: top;
		padding-top: 15px;
}

#settings input[type=text] {
		width: 100px;
}

#settings span {
		font-size: 10pt;
}

#settings-holder {
		bottom: 0px;
}

/*.icon div {
		position: relative;
		top: -50%;
}*/

.hide-item, .show-item, .pick-item, .drop-item {
		background-color: white;
		border: 1px solid white;
		border-radius: 2px;
		cursor: pointer;
}

.hide-item:hover, .show-item:hover, .pick-item:hover, .drop-item:hover {
	background-color: #dedede;
  border: 1px solid black;
}

.hide-item, .show-item, .pick-item {
		margin: -15px;
		float: right;
    width: 30px;
    height: 30px;
		display: none;
		opacity: 1;
		z-index: 10;
}

.show-item {
		background-image: url("/icons/unpin.png");
}

.hide-item {
		background-image: url("/icons/pin.png");
}

.drop-item {
		background-image: url("/icons/drop.png");
}

.pick-item {
		background-image: url("/icons/set_default.png");
}

.item-hidden {
		display: none;
}
.item-hidden .icon {
		opacity: 0.4;
}

.drop-item {
		margin: 18px -17px 0px -17px;
		float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
		display: none;
		z-index: 10;
		border: 1px solid white;
}

.block-header {
		margin: 10px 70px;
    padding: 0;
		color: grey;
		font-weight: bold;
		font-size: 14pt;
}

.block-header h2 {
		padding: 0;
		margin: 0;
}

.drop-holder {
		width: 10px;
		background-color: pink;
		border: 1px solid;
		float: right;
}

#root_bookmark_name.edit {
		color: blue;
		cursor: pointer;
		
}

#root-list {
		display: none;
		margin: 5px 70px 50px 70px;
}